input[type="text"]{
    border-color: transparent;
    border-radius: 4px;
    -webkit-appearance:none;
    background-color:#fff;
    background-image:none;
    border:1px solid #dcdfe6;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    color:#606266;
    display:inline-block;
    height:36px;
    line-height:1;
    outline:0;
    padding:0 15px;
}
input[type="text"]:hover {
  border-color: #c0c4cc
}

input[type="text"]::-moz-placeholder {
  color: #c0c4cc;
}

input[type="text"]::-webkit-input-placeholder {
  color: #c0c4cc;
}

input[type="text"]:-ms-input-placeholder {
  color: #c0c4cc;
}

input[type="text"]:focus {
  border-color: #409EFF;
  outline: 0
}
